	
<div class="py-5 cta-section">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="mb-2 text-white">Explora lo mejor. Cotiza con nosotros.</h2>
				<!-- <p class="mb-4 lead text-white text-white-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, fugit?</p> -->
				<p class="mb-0"><a href="booking.html" class="btn btn-outline-white text-white btn-md font-weight-bold">Cotiza ahora</a></p>
			</div>
		</div>
	</div>
</div>

<div class="site-footer">
	<div class="inner first">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="widget">
						<h3 class="heading">Acerca de nosostros</h3>
						<p>No somos solo cortinas, somos experiencia.</p>
					</div>
					<div class="widget">
						<ul class="list-unstyled social">
							<li><a href="#" style="margin-right:10px;"><span class="icon-instagram"></span></a></li>
							<li><a href="#" style="margin-right:10px;"><span class="icon-facebook"></span></a></li>
							<li><a href="#" style="margin-right:10px;"><span class="icon-linkedin"></span></a></li>

						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-2 pl-lg-5">
					<div class="widget">
						<h3 class="heading">Paginas</h3>
						<ul class="links list-unstyled">
							<li><a href="#">Sobre Nosotros</a></li>
							<li><a href="#">Contactanos</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-2">
					<div class="widget">
						<h3 class="heading">Recursos</h3>
						<ul class="links list-unstyled">
							<li><a href="#">Telas</a></li>
							<li><a href="#">Mecanismos</a></li>
							<li><a href="#">Cotizador</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="widget">
						<h3 class="heading">Contacto</h3>
						<ul class="list-unstyled quick-info links">
							<li class="email"><a href="#">ventas@decosun.cl</a></li>
							<li class="phone"><a href="#">Fono: + 569 92156733</a></li>
							<li class="address"><a href="#">Aníbal Pinto 841, Iquique, Tarapacá</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="inner dark">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 mb-3 mb-md-0 mx-auto">
					<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://agenciarevive.cl">Agencia Revive</a>
					</p>
				</div>
				
			</div>
		</div>
	</div>
</div>
