// @import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

// * {
//   box-sizing: border-box;
// }

#afuera {
  font-size: calc(100vw / 1600 * 100);

//   @media (max-width: 768px) {
//     font-size: calc(100vw / 768 * 100);
//   }
}

#adentro {
  min-height: 100vh;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  font-family: "Recursive", sans-serif;
  font-size: 0.16rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;

  a {
    text-decoration: none !important;
    color: #00345F !important;

    &:hover {
      color: #466c8a !important;
    }
  }

  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8294a6;
    z-index: -1;
    display: flex;
    overflow: hidden;
    filter: opacity(0.8);

    div {
      flex: 1;
      margin: 0 0.3rem;
      background-repeat: no-repeat;
      background-size: 100% auto;
      border-radius: 0.3rem;
    }

    .bg1 {
      background-image: url('/assets/images/img_inicio/foto4decosun.jpg');
      border-radius: 20px;
      background-position: left center;
      animation: fadeinBottom 1s both;
      margin-right: 30px;
      margin-top: 40px;
    }

    .bg2 {
      background-image: url('/assets/images/img_inicio/foto2decosun.jpg');
      border-radius: 20px;
      background-position: right center;
      animation: fadeinTop 1s 0.3s both;
      margin-left: 30px;
      margin-bottom: 40px;

    }
  }

  .formMedio {
    display: flex;
    margin: auto;
    width: 5,5rem;
    padding: 37.031px 57.031px 37.031px 57.031px;
    color: #4a76a3;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.15rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    label {
      display: block;
      font-weight: bold;
    }

    input:focus,
    input:focus-within {
      outline: none;
      box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    }

    ion-icon {
      font-size: 1.5em;
    }

    .input-box {
      position: relative;
    }

    .prefix {
      position: absolute;
      color: lightgrey;
      top: 0;
      bottom: 0;
      left: 0.2rem;
      margin: auto;
    }

    .switch-btn {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0.2rem;
      margin: auto;
      cursor: pointer;
    }

    .send-btn {
      display: inline-block;
      padding: 0.1rem 0.3rem;
      color: #fff;
      background-color: #4a76a3;
      border-radius: 0.3rem;
      cursor: pointer;

      ion-icon {
        vertical-align: middle;
        display: flex;
      }
    }
  }

  img {
    display: flex;
    align-items: center;
  }

  .bajologo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00345F;
    padding-top: 0;
    margin-top: 0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
  }

  .frase1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px !important;
    padding-bottom: 0 !important;
  }

  .frase2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00345F;
    font-size: 21px;
    font-weight: 800 !important;
    margin-bottom: 25px;
  }

  .izquierda1 {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 800;

    &:hover {
      color: #4a76a3;
    }
  }

  .mapa {
    display: flex;
    margin-right: 10px;
  }

  .derecha {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 800;
  }

  .izquierda2 {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 800;
  }
}

@keyframes fadeinBottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes fadeinTop {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

// Estilos para pantallas grandes (desktop)
// @media (min-width: 1024px) {
//   // Estilos específicos para pantallas grandes

//   // ...
// }

// Estilos para tabletas
@media (max-width: 1023px) {
  // Estilos específicos para tabletas

  #adentro {
    min-height: 100vh;
    padding: 0 0;
    display: flex;
    align-items: center;
    font-family: "Recursive", sans-serif;
    font-size: 0.16rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    
  
    a {
      text-decoration: none !important;
      color: #00345F !important;
  
      &:hover {
        color: #466c8a !important;
      }
    }
  
    .bg-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #8294a6;
      z-index: -1;
      display: flex;
      overflow: hidden;
      filter: opacity(0.8);
  
      div {
        flex: 1;
        margin: 0 0.3rem;
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
      }
  
      .bg1 {
        background-image: url('/assets/images/img_inicio/foto4decosun.jpg');
        border-radius: 20px;
        background-position: left bottom;
        animation: fadeinBottom 1s both;
        margin-right: 30px;
        margin-top: 40px;
      }
  
      .bg2 {
        background-image: url('/assets/images/img_inicio/foto2decosun.jpg');
        border-radius: 20px;
        background-position: right top;        
        animation: fadeinTop 1s 0.3s both;
        margin-left: 30px;
        margin-bottom: 40px;
  
      }
    }
  
    .formMedio {
      display: flex;
      margin: auto;
      width: 5,5rem;
      padding: 37.031px 57.031px 37.031px 57.031px;
      color: #4a76a3;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 0.15rem;
      backdrop-filter: blur(10px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
  
    
    }
  }
  

}

// Estilos para dispositivos móviles
@media (max-width: 767px) {
  // Estilos específicos para dispositivos móviles
  // ...
}

// Estilos para dispositivos móviles muy pequeños
@media (max-width: 550px) {
  // Estilos específicos para dispositivos móviles muy pequeños
  #adentro {
    min-height: 100vh;
    // padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    font-family: "Recursive", sans-serif;
    font-size: 0.16rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
  
    a {
      text-decoration: none !important;
      color: #00345F !important;
  
      &:hover {
        color: #466c8a !important;
      }
    }
} 
  .bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8294a6;
    z-index: -1;
    display: flex;
    overflow: hidden;
    flex-direction: column-reverse;
    filter: opacity(0.8);
    
    // div {
    //   flex: 1;
    //   margin: 0;
    //   background-repeat: no-repeat;
    //   background-size: 100%;
    //   border-radius: 20px;
    // }

    .bg1 {
      flex:1;
      margin:0;
      background-image: url('/assets/images/img_inicio/foto4decosun.jpg');
      border-radius: 20px;
      background-position: left bottom;
      animation: fadeinBottom 1s both;
      margin-top: 0px;
      margin-right: 120px !important;
    }

    .bg2 {
      background-image: url('/assets/images/img_inicio/foto2decosun.jpg');
      border-radius: 20px;
      background-position: right top;        
      animation: fadeinTop 1s 0.3s both;
      margin-bottom: 0px;
      flex: 1;
      margin:0;  
      margin-left: 120px !important;
    }
  }
  // ...
}