<div id="afuera">
    <div id="adentro">
        <div class="bg-box">
            <div class="bg1"></div>
            <div class="bg2"></div>
        </div>
        <div class="formMedio">
            <img class="logo" src="assets/images/img_inicio/decosunlogo.png" alt="" width="200">
            <p class="bajologo" id="bajologo">Fabrica de cortinas</p>
            <p class="frase1">Medimos, fabricamos e instalamos</p>

            <p class="frase2">¿Donde quieres cotizar?</p>

            <div class="col">
                <div class="container d-flex">
                    <div class="align-self-stretch  mapa"> <img class="logo" src="assets/images/img_inicio/mapa.png"
                            alt=""></div>
                    <div class="d-grid">
                        <div class="align-self-center izquierda1">
                            <a id="region" [routerLink]="['/home']" [queryParams]="{ parametro: 'norte' }">Zona Norte</a>
                          </div>
                          
                          <div class="align-self-center derecha">
                            <a id="region" [routerLink]="['/home']" [queryParams]="{ parametro: 'centro' }">Zona Centro</a>
                          </div>
                          
                          <div class="align-self-center izquierda2">
                            <a id="region" [routerLink]="['/home']" [queryParams]="{ parametro: 'sur' }">Zona Sur</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>